<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fh.dao.ICategoryDao" >
    <select id="queryCategoryList" resultType="com.fh.bean.ShopTypeBean">
        select typeId,pid,typeName,isValid,sequence from t_shop_type
        where isValid =1 order by sequence
    </select>
</mapper>